.header{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    height: 10vh;
}


.card{
    display: flex;
    padding: 0 1rem;
    gap: 1rem;

    img{
        width: 7rem;
        border-radius: 15px;
    }

    .price{
        font-size: 1.5rem;
    }

    .qty{
        font-size: larger;
        border: 1px solid #444;
        width: fit-content;
        padding: 1rem;
        border-radius: 50px;
        display: flex;
        gap: 1rem;
        align-items: baseline;
    }
}

footer{
    position: absolute;
    bottom: 1rem;
    width: 90%;
    margin: 0 1rem;

    .card-footer{
        display: flex;
        justify-content: space-between;
    }
}

