.cart{
    span{
        position: absolute;
        right: .5rem;
        color: white;
        background-color: red;
        padding: 0.3rem;
        width: 1rem;
        height: 1rem;
        font-weight: bold;
        border-radius: 100%;
        font-size: .5rem;
        text-align: center;

    }

    i{
        font-size: 1.5rem;
    }
}