<div class="header">
  <div class="back-button" (click)="goBack()">
    <i class="fa-solid fa-arrow-left"></i>
  </div>
  <h2>ETERNAL</h2>
  <a class="cart" routerLink="/cart">
    <i class="fa-solid fa-bag-shopping"></i>
  </a>
</div>
<img [src]="product.images[0].src" alt="" style="width: 100%;">
<div class="content">
    <h1>{{ product.title }}</h1>
    <p>{{ product.variants[0].price | currency }}</p>

    <p [innerHTML]="product.body_html"></p>

    <button>ADD TO BAG</button>
</div>
<hr size="2px" color="#121212" style="margin-top: 1rem;">
