*{
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    height: 10vh;

    position: sticky;
    top: 0;
    z-index: 999999999;
    background-color: black;
}

.content{
    width: 90%;
    margin: 1rem auto;
}

.cart{
    color: white;
    
}
.logo{
    font-family: "Anaktoria", serif;

}
.reverse-letter {
    display: inline-block;
    transform: rotatey(180deg);
  }
  