*{
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    height: 10vh;
}

.content{
    width: 90%;
    margin: 1rem auto;
}

.cart{
    color: white;
    
}