/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Anaktoria";
  src: url(./assets/fonts/Anaktoria.ttf) format("truetype");
}

@import 'swiper/css';
@import 'swiper/css/pagination';

.swiper-pagination-bullet{
  background-color: gray!important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      sans-serif;
    color: #fff;
    background: #000;
  }
}

button{
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
  border-radius: 0;
  border: none;
  color: black!important;
}

a{
  color: white;
}

.mt-1{
  margin-top: 1rem;
}

.mt-4{
  margin-top: 4rem;
}