<div class="header" style="padding: 1rem">
  <input type="checkbox" id="menu-toggle" />

  <label for="menu-toggle" class="menu-btn">
    <span class="line1"></span>
    <span class="line2"></span>
    <span class="line3"></span>
  </label>

  <nav>
    <ul>
      @for (option of options; track $index) {
      <li>
        <a [href]="'#' + option"> {{ option }}</a>
      </li>
      }
    </ul>
  </nav>

  <label for="menu-toggle" class="overlay"></label>
  <a class="cart" routerLink="/cart">
    <i class="fa-solid fa-bag-shopping"></i>
  </a>
</div>

<div class="title" style="padding: 1rem">
  <h1 id="inicio">ETE<span class="reverse-letter">R</span>NAL</h1>
  <p>Crafted for the ones who rise above.</p>
  <div class="swiper mySwiper" #swiperRef>
    <!-- <h4>Featured Collection</h4> -->
    <div class="swiper-wrapper">
      @for (product of products(); track $index) {
      <div class="swiper-slide" (click)="openDetail(product)">
        <div class="slide-card">
          <img [src]="product.images[0].src" alt="" />
          <p style="height: 2.5rem;">{{ product.title }}</p>
          <span>{{ product.variants[0].price| currency : "MXN" }}</span>
        </div>
      </div>
      }
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <hr size="1px" color="#121212" />
  <div class="footer">
    <div class="nav">
      <a href="">Contact</a>
      <a href="">Shipping</a>
      <a href="">Returns</a>
    </div>
    <div class="social-media">
      <a href="https://www.instagram.com/eternal.official.mx" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
      
      <a href="https://www.tiktok.com/@eternal.official.mx?_r=1&_t=ZS-925JYkiX7nY" target="_blank">
        <i class="fa-brands fa-tiktok"></i>
      </a>
    </div>
    <p>© 2025 Eternal. All rights reserved.</p>
  </div>
</div>
