.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background: #111;
  position: relative;
  z-index: 10;
}

.logo {
  font-weight: 700;
  letter-spacing: 2px;
}

#inicio{
  font-size: 4rem;
}

/* --- HAMBURGER --- */
#menu-toggle {
  display: none;
}

.menu-btn {
  width: 32px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-btn span {
  display: block;
  height: 3px;
  border-radius: 999px;
  background: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

nav {
  position: fixed;
  inset: 0 0 0 auto;
  width: 220px;
  background: #000;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  padding: 4rem 1.5rem 1.5rem;
  z-index: 9;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #111;

}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Overlay para cerrar al hacer clic fuera */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 8;
}

/* Toggle del menú */
#menu-toggle:checked ~ nav {
  transform: translateX(0);
}

#menu-toggle:checked ~ .overlay {
  opacity: 1;
  pointer-events: auto;
}

/* Animación del ícono (X) */
#menu-toggle:checked + label .line1 {
  transform: translateY(10px) rotate(45deg);
}

#menu-toggle:checked + label .line2 {
  opacity: 0;
}

#menu-toggle:checked + label .line3 {
  transform: translateY(-10px) rotate(-45deg);
}

.title {
  margin-top: 3rem;
  text-align: center;

  h1 {
    font-size: 3rem;
    font-family: "Anaktoria", serif;
  }

  p {
    margin-top: 1rem;
    font-family: "Source Serif 4", serif;
    font-size: 1.1rem;
    font-weight: 100;
  }
}

.reverse-letter {
  display: inline-block;
  transform: rotatey(180deg);
}

/*! FOOTER */

hr {
  margin-top: 5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0;
    list-style: none;
    margin-top: 3rem;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
      /* text-transform: uppercase; */
      letter-spacing: 1px;
    }
  }
  .social-media {
    color: white;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
  }
  p {
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    color: #444;
  }
}

.slide-card {
  img {
    width: 20rem;
  }
}

.swiper-slide {
  text-align: start;
  // padding-left: 1rem;
  font-size: 18px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.2s ease-in;

}

.mySwiper {
  margin-top: 4rem;
  padding-bottom: 2rem;

  h4 {
    text-align: start;
    margin-bottom: 1rem;
  }

}
// .mySwiper{
//   .swiper-pagination{
//     .swiper-pagination-bullet{
//       background: gray!important;
//     }
//   }
// }

.slide-card {
  p {
    font-weight: bold;
  }
  span {
    font-size: 0.8rem;
  }
}

.swiper-slide img {
  display: block;
  width: 12rem;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.cart{
  i{
    color: white;
    font-size: 1.5rem;
  }
}



/* --- Versión escritorio --- */
@media (min-width: 768px) {
  .title{
    margin-top: 2rem!important;
  }

  .mySwiper{
    margin-top: 2rem!important;
  }
  .header {
    padding-inline: 3rem;
  }

  .menu-btn {
    display: none;
  }

  nav {
    position: static;
    transform: none;
    width: auto;
    padding: 0;
  }

  nav ul {
    flex-direction: row;
    gap: 2rem;
    background-color: #111;
  }

  .overlay {
    display: none;
  }
  
  .mySwiper{
    width: 40%;
    margin: 0 auto;
  }

  .swiper-slide:hover{
    transform: scale(1.1);
  }
}
