name: Deploy Angular App (ETERNAL)  to VPS

on:
  push:
    branches:
      - master 

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      VPS_HOST: ${{ secrets.VPS_HOST }}
      VPS_USER: ${{ secrets.VPS_USER }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm i

      - name: Build Angular App
        run: npm run build -- --configuration production
        # o ng build --configuration production si así lo manejas

      - name: Setup SSH
        env:
          SSH_PRIVATE_KEY: ${{ secrets.VPS_SSH_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H "$VPS_HOST" >> ~/.ssh/known_hosts || true

      - name: Deploy via rsync
        run: |
          # Ajusta "dist/eternal/browser" según tu angular.json
          rsync -avz --delete -e "ssh -i ~/.ssh/id_ed25519 -o StrictHostKeyChecking=yes" dist/eternal/browser/ $VPS_USER@$VPS_HOST:/var/www/demo

      - name: Reload Nginx
        run: |
          # ssh -i ~/.ssh/id_ed25519 $VPS_USER@$VPS_HOST "nginx -t && systemctl reload nginx"
          # Si usas sudo y no eres root:
           ssh -i ~/.ssh/id_ed25519 $VPS_USER@$VPS_HOST "sudo nginx -t && sudo systemctl reload nginx"
